#squeaky__nps_form {
  background: #ffffff;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  height: 15rem;
  position: fixed;
  z-index: 1000;

  &.full_width {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  &.boxed {
    bottom: 1.5rem;
    border-radius: .5rem;
    left: 50%;
    margin-left: -16.5rem;
    width: 33rem;
  }

  &.full_width,
  &.boxed {
    @media screen and (max-width: 540px) {
      left: 2rem;
      width: calc(100% - 4rem);
    }
  }
  
  &.step-1 {
    height: 22rem;

    @media screen and (max-width: 540px) {
      height: 21rem;
    }
  }
  
  &.step-2 {
    height: 29.5rem;
  }
  
  &.step-3 {
    height: 36rem;

    @media screen and (max-width: 540px) { 
      height: 38rem; 
    }
  }
  
  &.step-4 {
    height: 19rem;
  }

  @media screen and (max-width: 540px) {
    height: 15rem;
  }

  .squeaky__nps_wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 33rem;

    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }
}

#squeaky__nps_close {
  align-items: center;
  appearance: none;
  background: #0074E0;
  border: none;
  border-radius: 100% !important;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;

  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

#squeaky__nps_frame {
  border: none;
  height: 100%;
  width: 100%;
}
