#squeaky__sentiment_open {
  align-items: center;
  appearance: none;
  background: #0074E0;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  line-height: 1.5rem;
  margin: 0;
  padding: .5rem 1rem;
  position: fixed;
  transition: none;
  width: 8.75rem;
  z-index: 1000;
}

#squeaky__sentiment_open:hover {
  cursor: pointer;
  filter: brightness(85%);
}

#squeaky__sentiment_open img {
  display: block;
  margin-right: .5rem;
}

#squeaky__sentiment_open.right_middle {
  border-radius: .5rem .5rem 0 0 !important;
  margin-top: -2rem;
  right: 0;
  top: 50%;
  transform: rotate(270deg);
  transform-origin: 6.25rem 0;
}

#squeaky__sentiment_open.right_middle img {
  transform: rotate(-270deg);
}

#squeaky__sentiment_open.right_bottom {
  bottom: 0;
  border-radius: .5rem .5rem 0 0 !important;
  right: 3rem;
}

#squeaky__sentiment_open.left_middle {
  border-radius: .5rem .5rem 0 0 !important;
  left: 0;
  margin-top: -2rem;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 2.5rem 0;
}

#squeaky__sentiment_open.left_middle img {
  transform: rotate(-90deg);
}

#squeaky__sentiment_open.left_bottom {
  bottom: 0;
  border-radius: .5rem .5rem 0 0 !important;
  left: 3rem;
}

#squeaky__sentiment_close {
  align-items: center;
  appearance: none;
  background: #0074E0;
  border: none;
  border-radius: 100% !important;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
}

#squeaky__sentiment_close:hover {
  cursor: pointer;
  filter: brightness(85%);
}

#squeaky__sentiment_modal {
  background: #ffffff;
  border: none;
  border-radius: .5rem;
  box-sizing: border-box;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  height: 18.25rem;
  position: fixed;
  width: 21.25rem;
  z-index: 1000;
}

#squeaky__sentiment_modal.right_middle {
  margin-top: -9.125rem;
  right: 3rem;
  top: 50%;
}

#squeaky__sentiment_modal.right_bottom {
  bottom: 3rem;
  right: 3rem;
}

#squeaky__sentiment_modal.left_middle {
  left: 3rem;
  margin-top: -9.125rem;
  top: 50%;
}

#squeaky__sentiment_modal.left_bottom {
  bottom: 3rem;
  left: 3rem;
}

#squeaky__sentiment_frame {
  border: none;
  height: 100%;
  width: 100%;
}